# Build
/build/
/bin/
/.cache/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# IDE
/.vscode/
/.idea/
*.code-workspace

# Binaries
*.exe
*.pdb
*.obj
*.o
*.a
*.lib

# Generated
compile_commands.json
/plugins/*.exe
/plugins/*.pdb

# OS
Thumbs.db
.DS_Store